
# macOS
.DS_Store

# Python caches
__pycache__/
*.py[cod]
*.$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Streamlit config
.streamlit/

# IDE settings
.vscode/
.idea/

# Logs and databases
*.log
*.sql
*.sqlite

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Wheels
*.whl

# dotenv
.env
